h1
{
color:#00001a;
font-family:sans-serif;
padding:20px 20px 20px 20px;
font-size:60px;
underline-color:

}

h2
{
font-family:sans-serif;
color:#d9ffb3;
font-size:40px;
}


p
{
color:#1f1f14;
font-size:20px;
}

hr
{
color:#cc0044;
}
